<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,800&display=swap" rel="stylesheet" />
    <link href="https://cdn.materialdesignicons.com/3.8.95/css/materialdesignicons.min.css" rel="stylesheet">
    <title>Advertising Agency</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript">
      $(window).on('scroll', function () {
        if ($(window).scrollTop()) {
          $('nav').addClass('black');
        }
        else {
          $('nav').removeClass('black');
        }
      })
    </script>
  </head>
  <body class="body">


    <header class="header" id="nav">
      <div class="container" id="nav">
        <div class="logo">
          <a href="{{ url_for('index') }}"><img src="../static/resources/logo.PNG" alt="" class="logo-img"/></a>
        </div>
        <nav>
          <ul>
            <li><a  href="{{ url_for('index') }}" class="nav-link">Home</a></li>
            <li><a  href="{{ url_for('order') }}" class="nav-link">Make Order</a></li>
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}" class="nav-link">Login</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>


    <section class="section-1">
      <div class="container">
          <h2 style="font-size: 30px;">Привіт, {{ current_user.username }}<br>Нас рекомендують</h2>
      <div class="img-container">
        <div class="image-style" class="blur-efect">
          <img src="../static/resources/Microsoft.jpg" alt="Microsoft-logo" />
          <div class="img-text">
            <p>Microsoft</p>
          </div>
        </div>
        <div class="image-style" class="blur-efect">
          <img src="../static/resources/amazon.jpg" alt="Amazon-logo" />
          <div class="img-text">
            <p>Amazon</p>
          </div>
        </div>
        <div class="image-style" class="blur-efect">
          <img src="../static/resources/facebook.jpg" alt="Facebook-logo" />
          <div class="img-text">
            <p>Facebook</p>
          </div>
        </div>
      </div>
      </div>


    </section>
    <section  class="section-2" class="blur-efect">
      <div class="container">
        <h2>Про наше рекламне агентсво</h2>
        <p class="text">
          Постійне зростання конкуренції і запуск в продаж нових товарів і послуг сприяє стрімкому розвитку ринку,
          існування якого неможливе без використання рекламних послуг. Замовляючи і розміщуючи рекламу в різних
          рекламних агентствах Києва, замовник ризикує отримати невдало сплановану кампанію і витратити кошти даремно,
          оскільки якісну реалізацію проекту зможуть надати лише рекламні агентства повного циклу. Рекламне агентство
          повного циклу "Ad Agency" - це багатоцільовий сервісний центр, що працює в напрямку «все з одних рук» і
          забезпечує комплексну взаємодію з усіма медійними каналами України. Хочете дізнатися, чому на Вашу увагу
          заслуговує саме наше рекламне агентство? У Києві зосереджена величезна кількість компаній, які потребують
          послуг самих різних комунікативних каналах. Ми визначаємо себе не як звичайне рекламне агентство, яке надає
          окремі рекламні послуги, ми працюємо як комунікаційний канал, що зв'язує споживача і рекламований продукт.
          Кожен замовник для нас - бізнес-партнер, спільна робота з яким переростає в довгострокові і продуктивні
          відносини. Наша команда гарантовано донесе рекламне повідомлення потрібної цільової аудиторії і підвищить
          лояльність до бренду замовника в кінцевому підсумку. За час роботи ми згуртували досвідчених фахівців в одну
          команду, діяльність якої націлена на досягнення максимальних результатів. Високий рівень професіоналізму і
          колосальна самовіддача кожного співробітника нашого агентства - основа реалізації масштабних рекламних
          кампаній і проектів на території України. Розміщення сюжету від рекламного агентства повного циклу «Ефект
          маркетинг» - це геометрична прогресія попиту на послуги і товари вашої компанії в дії! Скільки часу займе
          розробка рекламної кампанії і як же функціонує рекламне агентство повного циклу (Київ)? Україна - територія
          нашої діяльності. Ми даємо замовникам повну свободу у виборі регіону і готові розмістити рекламу навіть в
          найбільших містах і ринках товарів і послуг, надаючи європейський рівень обслуговування. Вам достатньо
          замовити рекламу по телефону або відправити заявку на розміщення реклами через форму звернення на сайті, щоб
          менеджери оперативно розробили рішення, підібравши оптимальні варіанти розміщення реклами. Дизайнери
          розроблять авторський дизайн макета, копірайтери напишуть продає унікальний текст, а служба сервісу розпочне
          виготовлення реклами, друкуючи зображення, і розміщуючи повідомлення на відповідному реклам носії. Розмістивши
          в обумовлені терміни ефективну рекламу у вигляді листівок, плакатів і постерів, рекламне агентство (Київ)
          надає фотозвіт про виготовлену рекламі.
        </p>
      </div>
    </section>
    <section class="section-3"  class="blur-efect">
      <div class="container">
        <h2>Кому потрібні «розкрутка та просування сайтів»?</h2>
        <p class="text">Якщо ви помітили нестабільну роботу своєї інтернет-майданчики, відсутність замовлень і телефонних дзвінків, то вам необхідна оптимізація проекту з подальшою розкруткою і просуванням. Наша профкоманда грамотно проводить комплекс робіт для поліпшення видимості ресурсу замовника у видачі систем Yandex і Google і забезпечує вихід в ТОП позиції по тематичних запитах.</p>
        <p class="text">Така підтримка інтернет-ресурсу гарантує отримання дворазового зростання цільового трафіку і конверсії, ви гарантовано досягаєте бажаного ефекту у вигляді збільшення попиту на продукцію. Просування сайтів - кращий сучасний спосіб повідомити про себе.</p>
        <p class="text">Наше рекламне агентство в Києві застосовує в роботі найбільш ефективні інструменти, вибір яких заснований на специфіці рекламованого продукту, а також на основі аналізу діяльності організації.</p>
        <p class="text">Збільшення числа продажів, впізнаваність і підвищення прибутку гарантує "Ad Agency" - рекламне агентство повного циклу. Київ і Україна в очікуванні презентації вашого продукту!</p>
        <div class="end-text">
          <p class="text">Ефективна реклама від рекламного агентства AD Agency - шлях до успіху!
          </p>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="link-container">
          <a href="">
            <div class="pre-footer-link">
              <i class="mdi mdi-facebook"></i>
            </div>
          </a>
          <a href="">
            <div class="pre-footer-link">
              <i class="mdi mdi-instagram"></i>
            </div>
          </a>
          <a href="">
            <div class="pre-footer-link">
              <i class="mdi mdi-twitter"></i>
            </div>
          </a>
        </div>
        <p class="footnote">
          Дойков Вадим <span>&copy;2020</span>
        </p>
      </div>
    </footer>
    <script src="main.js"></script>
  </body>
</html>
